.display {
  position: relative;
  float: left;
  width: 100%;
  max-width: 50%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 20px 0 30px -20px rgba(0, 0, 0, 0.6);
  // z-index: 2;

  #startScreen {
    text-align: center;
    margin-top: 30vh;
  }
}
