h1.logo {
  color: #fff;
  font-size: 4em;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.form-box {
  background: #fff;
  position: relative;
  width: 600px;
  box-shadow: $shadow;
}

.input-group {
  position: relative;
  padding: 30px 20px 20px 20px;
  margin: 10px 60px 10px 10px;

  input {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: solid 2px #2b2130;
    font-weight: bold;
    font-size: 20px;
    outline: 0;
    background: transparent;
    box-shadow: none;
  }
}

@media (max-width: 800px) {
  .form-box {
    width: 80%;
  }
}

/*Button*/
.submit-btn {
  margin: 20px auto;
  justify-content: center;
}
