body {
  font: 400 normal 14px/1.4 "Lato", sans-serif;
  color: #706c72;
  background: linear-gradient(to right, #36d1dc, #5b86e5); }

.content {
  background: #fdfdfd;
  position: relative;
  width: 736px;
  height: 560px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.4);
  z-index: 1; }

.sidebar {
  float: left;
  width: 100%;
  max-width: 50%;
  height: 100%;
  background: #2b2130;
  border-radius: 10px 0 0 10px;
  z-index: 4; }

/* Search form */
.search-form-container {
  padding: 20px 15px 2px 25px; }

.search-form {
  width: 100%;
  max-width: 80%;
  border: 1px solid #706c72;
  border: 1px solid rgba(112, 108, 114, 0.5);
  border-radius: 20px;
  font-size: 16px;
  font-size: 1.6rem; }

.magnifier {
  display: inline-block;
  padding: 2px 5px; }

.magnifier svg {
  width: 25px;
  height: 25px;
  vertical-align: middle; }

.magnifier svg path {
  fill: #706c72; }

.search-form label {
  display: none; }

.search-form input {
  display: inline-block;
  padding: 2px 5px 2px 0;
  color: #706c72;
  background: none;
  border: 0; }

.search-form input:focus {
  outline: 0; }

.search-form input:focus::-webkit-input-placeholder {
  color: transparent; }

.search-form input:focus::-moz-placeholder {
  color: transparent; }

.search-form input:focus:-ms-input-placeholder {
  color: transparent; }

.search-form input:focus:-moz-placeholder {
  color: transparent; }
