/* Contact List */

.contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 458px;
  max-height: 100%;
  overflow-y: hidden;
}

.contact-list:hover {
  overflow-y: overlay;
}

.contact-list .person {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid rgba(112, 108, 114, 0.3);
  cursor: pointer;
  height: 50px;
}

.contact-list .person:hover {
  background: rgba(0, 0, 0, 0.3);
}

li .person {
  list-style: none;
}

.person .avatar {
  display: inline-block;
}

.avatar {
  width: 50px;
  margin-left: 25px;
  border-radius: 50%;
  vertical-align: middle;
}

.name {
  vertical-align: middle;
  padding: 0 0 0 10px;
  display: inline-block;
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}

/*------------------------------------*\
    Contacts List - Custom Scrollbar
\*------------------------------------*/
.contact-list::-webkit-scrollbar {
  width: 6px;
}

.contact-list::-webkit-scrollbar-button {
  display: none;
}

/* Track */
.contact-list::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
.contact-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e1e1e1;
}

.contact-list::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}
