body {
  font: 400 normal 14px/1.4 "Lato", sans-serif;
  color: #706c72;
  background: linear-gradient(to right, #36d1dc, #5b86e5); }

#app {
  z-index: 0; }

.content {
  background: #fdfdfd;
  position: relative;
  width: 736px;
  height: 560px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.4);
  z-index: 1; }

.sidebar {
  float: left;
  width: 368px;
  max-width: 50%;
  height: 100%;
  background: #2b2130;
  border-radius: 10px 0 0 10px;
  z-index: 4;
  box-shadow: 20px 0 30px -20px rgba(0, 0, 0, 0.6); }

/* Search form */
.search-form-container {
  padding: 20px 25px 2px 25px; }

.search-form {
  width: 100%;
  border: 1px solid #706c72;
  border: 1px solid rgba(112, 108, 114, 0.5);
  border-radius: 20px;
  font-size: 16px; }

.magnifier {
  display: inline-block;
  padding: 2px 5px; }

.magnifier svg {
  width: 25px;
  height: 25px;
  vertical-align: middle; }

.magnifier svg path {
  fill: #706c72; }

.search-form label {
  display: none; }

.search-form input {
  display: inline-block;
  width: 70%;
  padding: 2px 5px 2px 0;
  color: #706c72;
  background: none;
  border: 0;
  font-size: 16px; }

.search-form input:focus {
  outline: 0; }

.search-form input:focus::-webkit-input-placeholder {
  color: transparent; }

.search-form input:focus::-moz-placeholder {
  color: transparent; }

.search-form input:focus:-ms-input-placeholder {
  color: transparent; }

.search-form input:focus:-moz-placeholder {
  color: transparent; }

.count {
  float: right;
  padding: 2px 15px 2px 0; }

/* Contacts navigation */
.contacts-nav ul {
  padding: 0 10px 0 25px;
  margin-bottom: 9px;
  list-style-type: 0;
  text-transform: uppercase; }

.contacts-nav li {
  display: inline;
  margin-right: 20px;
  height: 24px;
  line-height: 24px;
  cursor: pointer; }

.contacts-nav li a {
  color: #706c72; }

.contacts-nav li a:hover {
  color: #bababa; }

.contacts-nav li.active a {
  color: #bababa; }

.contacts-nav li:last-child {
  float: right;
  margin: 0; }

.contacts-nav li:last-child svg {
  width: 24px;
  height: 24px;
  vertical-align: middle; }

.contacts-nav li:last-child svg path {
  fill: #bababa; }

#load {
  color: #999999;
  background: transparent;
  border: none;
  outline: inherit;
  text-transform: uppercase; }

#load:hover {
  cursor: pointer;
  color: #bababa; }

/* Contact List */
.contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 458px;
  max-height: 100%;
  overflow-y: hidden; }

.contact-list:hover {
  overflow-y: overlay; }

.contact-list .person {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid rgba(112, 108, 114, 0.3);
  cursor: pointer;
  height: 50px; }

.contact-list .person:hover {
  background: rgba(0, 0, 0, 0.3); }

li .person {
  list-style: none; }

.person .avatar {
  display: inline-block; }

.person .avatar img {
  width: 40px;
  margin-left: 25px;
  border-radius: 50%; }

.person .name {
  padding: 0 0 0 10px;
  display: inline-block;
  color: #fdfdfd;
  font-size: 25px;
  font-weight: 700; }

/*------------------------------------*\
    Contacts List - Custom Scrollbar
\*------------------------------------*/
.contact-list::-webkit-scrollbar {
  width: 6px; }

.contact-list::-webkit-scrollbar-button {
  display: none; }

/* Track */
.contact-list::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/* Handle */
.contact-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #e1e1e1; }

.contact-list::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4); }

.display {
  position: relative;
  float: left;
  width: 100%;
  max-width: 50%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  z-index: -2; }

.display #startScreen {
  text-align: center;
  margin-top: 30vh; }

.personCard {
  top: 0px;
  left: 50%;
  position: absolute;
  background: #403646;
  width: 50%;
  height: 560px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  text-align: center;
  color: white; }

.personCard .avatar {
  width: 100%;
  margin: 0;
  padding: 0; }

.personCard img {
  width: 100%;
  max-height: 350px;
  object-fit: cover; }

#contacts {
  overflow: inherit; }

h1.logo {
  color: #2b2130;
  font-size: 4em;
  margin: 0;
  text-align: center; }

.form-box {
  border-radius: 5px;
  padding: 20px; }

.form-box input[type="text"],
.form-box select,
.form-box textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

.form-box .submit {
  background-color: #2b2130;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.form-box .submit:hover {
  background-color: #45a049; }

#notFound {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 10px; }

#notFound .notice {
  text-align: center;
  padding-top: 30vh; }

#notFound .notice h1 {
  color: blue; }
